[Desktop Entry]
Name=PontoCrz
GenericName=Transformador de Ponto Cruz
Comment=Converta fotos em gráficos profissionais de Ponto Cruz
Exec=ponto-crz
Icon=/snap/ponto-crz/current/meta/gui/ponto-crz.png
Terminal=false
Type=Application
Categories=Graphics;
Keywords=bordado;ponto cruz;cross stitch;dmc;costura;
StartupNotify=true
StartupWMClass=pontoCrz
